img {
    height: 60px;
}

.todayIcon > img {
  display: inline;
  height: 100px;
}

.todayIcon {
  display: inline;
}

#location_icon {
  height: 28px;
}

.get_weather {
  margin-top: 2px;
  margin-left: 10px;
}

.newBody {
    max-width: 960px;
    margin: auto;
  }

.newHeader, .timeZone, .weather, .disclaimer, .location {
  text-align: center;
  height: 50%;
}

.metric-button.active
{
    background-color: #007bff !important;
}

.weather-widget
{
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    overflow: hidden;
}

.weather-widget .current
{
    display: flex;
    flex-flow: row wrap;

    background-repeat: repeat-x;
    color: black;
    padding: 20px;

}

.weather-widget .current .info
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 2;
}

.weather-widget .current .info .city
{
    font-size: 26px;
}

.weather-widget .current .info .temp
{
    font-size: 56px;
}

.weather-widget .current .info .wind .humidity .pressure
{
    font-size: 24px;
}

.weather-widget .current .icon
{
    text-align: center;
    font-size: 64px;
    flex-grow: 1;
}

.weather-widget .future
{
    display: flex;
    flex-flow: row nowrap;
}

.weather-widget .future .day
{
    flex-grow: 1;
    text-align: center;
}

.weather-widget .future .day h3
{
    text-transform: uppercase;
}

.weather-widget .future .day p
{
    font-size: 28px;
}

.search-history
{
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    height: 100%;
}

.weather-map
{
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    height: 100%;
}

.day .night
{
    height:50%;
}

.left-accordion
{
    width:50%;
    float:left;
    text-align: center;
    margin-bottom: 10px;
}

.right-accordion
{
    width:50%;
    float:right;
    text-align: center;
    margin-bottom: 10px;
}

.top-buffer
{
    margin-top:20px;
}
