<h1 class="newHeader">Hello World</h1>
<div>Monday - 80 Degrees - 20% Chance of Rain</div>
<div>Tuesday - 83 Degrees - 10% Chance of Rain</div>
<div>Wednesday - 69 Degrees - 25% Chance of Rain</div>
<div>Thursday - 70 Degrees - 0% Chance of Rain</div>
<div>Friday - 75 Degrees - 0% Chance of Rain</div>
<div>Saturday - 75 Degrees - 0% Chance of Rain</div>
<div>Sunday - 65 Degrees - 15% Chance of Rain</div>
