


<h1 class="newHeader">Hello World</h1>
<link rel="icon" href="https://raw.githubusercontent.com/DysL3xiA/CS361_Weather_App/master/img/cloudIcon.png">



<div class="monday">Monday - 80 Degrees - 20% Chance of Rain <img src="/img/cloudIcon.png" style="height:150px;"></div>
<div class="tuesday">Tuesday - 83 Degrees - 10% Chance of Rain <img src="/img/rainIcon.png" style="height:150px;"></div>
<div class="wednesday">Wednesday - 69 Degrees - 25% Chance of Rain <img src="/img/rainIcon.png" style="height:150px;"></div>
<div class="thursday">Thursday - 70 Degrees - 0% Chance of Rain <img src="/img/sunIcon.png" style="height:150px;"></div>
<div class="friday">Friday - 75 Degrees - 0% Chance of Rain <img src="/img/sunIcon.png" style="height:150px;"></div>
<div class="saturday">Saturday - 75 Degrees - 0% Chance of Rain <img src="/img/sunIcon.png" style="height:150px;"></div>
<div class="sunday">Sunday - 65 Degrees - 15% Chance of Rain <img src="/img/cloudIcon.png" style="height:150px;"></div>
