<!DOCTYPE html>

<html>

<head>
<h1 class="newHeader">Hello World</h1>
<link rel="icon" href="\img\cloudIcon.png">
<link rel="stylesheet" href="\client\style\style.css">
</head>

<body>
    <div class="monday">Monday - 80 Degrees - 20% Chance of Rain</div>
    <div class="tuesday">Tuesday - 83 Degrees - 10% Chance of Rain</div>
    <div class="wednesday">Wednesday - 69 Degrees - 25% Chance of Rain</div>
    <div class="thursday">Thursday - 70 Degrees - 0% Chance of Rain</div>
    <div class="friday">Friday - 75 Degrees - 0% Chance of Rain</div>
    <div class="saturday">Saturday - 75 Degrees - 0% Chance of Rain</div>
    <div class="sunday">Sunday - 65 Degrees - 15% Chance of Rain</div>
</body>

</html>